DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pillsync
JWT_SECRET_KEY=4eb84e55bb7097c00e12d8a45b6dbd783a30364f9f72c050f443b71ab4c6b840
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
ENVIRONMENT=development
